<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-md-5">
          <label for="name" class="form-label">name</label>
          <input
            class="form-control"
            id="name"
            placeholder="for example pizaa"
          />
        </div>
        <div class="col-md-2">
          <label for="amount" class="form-label">amount</label>
          <input class="form-control" id="amount" placeholder="for example 3" />
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            style="margin-right: 10px"
          >
            add
          </button>
          <button
            type="button"
            class="btn btn-danger"
            style="margin-right: 10px"
          >
            remove
          </button>
          <button type="button" class="btn btn-primary">clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
